.label {
  color: var(--primary-25);
}

.select-container {
  margin-bottom: 1rem;
  
  .error-message {
    color: var(--error-500);
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
  }
}